[submodule "howto"]
	path = howto
	url = https://github.com/pvstodghill/howto
[submodule "stubs"]
	path = stubs
	url = https://github.com/pvstodghill/stubs
[submodule "scripts"]
	path = scripts
	url = https://github.com/pvstodghill/scripts
